{% extends "base.html" %}

{% block content %}
  {% if to_do_tasks %}
    <div class="container mt-5">
      <h1 class="text-center mb-4">To Do</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">Task name</th>
              <th class="text-center">Task description</th>
              <th class="text-center">Task deadline</th>
              <th class="text-center">Priority</th>
            </tr>
          </thead>
          <tbody>
            {% for task in to_do_tasks %}
              <tr>
                <td class="text-center"><a href="{% url 'tasks:project-task-detail' task.id %}">{{ task.name }}</a></td>
                <td class="text-center">{{ task.description }}</td>
                <td class="text-center">{{ task.deadline }}</td>
                <td class="text-center {% if task.priority == 'C' %}text-danger font-weight-bold{% elif task.priority == 'H' %}text-warning{% else %}text-secondary{% endif %}">
                  {{ task.priority }}
                </td>
                <td>
                  <a href="{% url 'tasks:project-task-detail' task.id %}" class="btn btn-sm btn-secondary">Details</a>
                </td>
                <td class="text-center">
                  <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ task.id }}">
                    <button type="submit" class="btn btn-sm btn-primary">Start Doing</button>
                  </form>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  {% if in_progress_tasks %}
    <div class="container mt-5">
      <h1 class="text-center mb-4">In Progress</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">Task name</th>
              <th class="text-center">Task description</th>
              <th class="text-center">Task deadline</th>
              <th class="text-center">Priority</th>
            </tr>
          </thead>
          <tbody>
            {% for task in in_progress_tasks %}
              <tr>
                <td class="text-center">{{ task.name }}</td>
                <td class="text-center text-truncate description">{{ task.description }}</td>
                <td class="text-center">{{ task.deadline }}</td>
                <td class="text-center {% if task.priority == 'C' %}text-danger font-weight-bold{% elif task.priority == 'H' %}text-warning{% else %}text-secondary{% endif %}">
                  {{ task.priority }}
                </td>
                <td>
                  <a href="{% url 'tasks:project-task-detail' task.id %}" class="btn btn-sm btn-secondary">Details</a>
                </td>
                <td class="text-center">
                  <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="task_id_done" value="{{ task.id }}">
                    <button type="submit" class="btn btn-sm btn-success">Done</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
