{% extends "base.html" %}

{% block content %}
{% if to_do_tasks %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">To Do</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for task in to_do_tasks %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'tasks:project-task-detail' task.id %}">{{ task.name }}</a></h5>
              <p class="card-text"><strong>Deadline:</strong> {{ task.deadline }}</p>
              <p class="card-text"><strong>Priority:</strong> <span class="{% if task.priority == 'C' %}text-danger font-weight-bold{% elif task.priority == 'H' %}text-warning{% else %}text-secondary{% endif %}">{{ task.priority }}</span></p>
            </div>
            <div class="card-footer">
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <button type="submit" class="btn btn-primary">Start Doing</button>
              </form>
              <a href="{% url 'tasks:project-task-detail' task.id %}" class="btn btn-secondary ms-2">Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}


  {% if in_progress_tasks %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">In Progress</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for task in in_progress_tasks %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'tasks:project-task-detail' task.id %}">{{ task.name }}</a></h5>
              <p class="card-text"><strong>Deadline:</strong> {{ task.deadline }}</p>
              <p class="card-text"><strong>Priority:</strong> <span class="{% if task.priority == 'C' %}text-danger font-weight-bold{% elif task.priority == 'H' %}text-warning{% else %}text-secondary{% endif %}">{{ task.priority }}</span></p>
            </div>
            <div class="card-footer">
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <button type="submit" class="btn btn-success">Finish Task</button>
              </form>
              <a href="{% url 'tasks:project-task-detail' task.id %}" class="btn btn-secondary ms-2">Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% endblock %}
