{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <form method="get">
            {% for field in filter.form.visible_fields %}
              <div class="form-group">
                {{ field.label_tag }} {{ field }}
              </div>
            {% endfor %}
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h1 class="text-center">Project Active Tasks</h1>
      <br>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Task ID</th>
              <th class="text-center">Task name</th>
              <th class="text-center">Task type</th>
              <th class="text-center">Task deadline</th>
              <th class="text-center">Priority</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks_filter %}
              <tr>
                <td class="text-center">{{ task.id }}</td>
                <td class="text-center">{{ task.name }}</td>
                <td class="text-center">{{ task.task_type }}</td>
                <td class="text-center">{{ task.deadline }}</td>
                <td class="text-center {% if task.priority == 'C' %}text-danger font-weight-bold{% elif task.priority == 'H' %}text-warning{% else %}text-secondary{% endif %}">
      {{ task.priority }}
    </td>
                <td>
                  <a href="{% url 'tasks:project-task-detail' task.id %}" class="btn btn-sm btn-secondary">Details</a>
                  <a href="{% url 'tasks:task-delete' task.id %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="text-right">
        <a href="{% url 'tasks:create-task' %}" class="btn btn-sm btn-success">Add task</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
