{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Delete task?</h1>
            <form action="" method="post">
              {% csrf_token %}
              <p class="card-text">Do you really want to delete Task with name: {{ task.name }}?</p>
              <br>
              <button type="submit" class="btn btn-danger mr-2">Yes</button>
              <button type="button" class="btn btn-primary" onclick="window.history.back()">No, move back to previous page</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
